{% extends "cookie_booths/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Booth Editor</h2>
{% endblock page_header %}


{% block content %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
    	<tr>
        	<th>Location</th>
			<th>Address</th>
			<th>Edit Booth</th>
			<th>Edit Hours</th>
			<th>Delete Booth</th>
		</tr>
	</thead>
	<tbody>
		{% for booth in booths %}
			<tr>
				<td>{{ booth.booth_location }}</td>
				<td>{{ booth.booth_address }}</td>
				<td><a href="{% url 'cookie_booths:edit_location' booth.id %}">Edit Booth</a></td>
				<td><a href="#">Edit Hours</a></td>
				<td><a href="{% url 'cookie_booths:delete_booth' booth.pk %}">Delete Booth</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
