{% extends "cookie_booths/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Booth Reservations</h2>
{% endblock page_header %}


{% block content %}
<table id="booth_blocks" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
    	<tr>
			<th>Location</th>
			<th>Address</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
            <th>Manage</th>
		</tr>
	</thead>
	<tbody>
		{% for block in booth_blocks %}
			<tr>
				<td>{{ block.booth_day.booth.booth_location }}</td>
				<td>{{ block.booth_day.booth.booth_address }}</td>
				<td>{{ block.booth_day.booth_day_date }}</td>
				<td>{{ block.booth_block_start_time|date:"TIME_FORMAT" }}</td>
				<td>{{ block.booth_block_end_time|date:"TIME_FORMAT" }}</td>
				<td></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}