{% extends "cookie_booths/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Booth Locations</h2>
{% endblock page_header %}


{% block content %}
<table id="booths" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
    	<tr>
        	<th>Location</th>
			<th>Address</th>
            {% if perms.cookie_booths.booth_loc_updates or perms.cookie_booths.booth_loc_deletes %}
                <th>Actions</th>
            {% endif %}
		</tr>
	</thead>
	<tbody>
		{% for booth in booths %}
			<tr>
				<td>{{ booth.booth_location }}</td>
				<td>{{ booth.booth_address }}</td>
				<td>
                    {% if perms.cookie_booths.booth_loc_updates %}
                        <a href="{% url 'cookie_booths:edit_location' booth.id %}">Edit Booth</a> |
                        <a href="{% url 'cookie_booths:edit_booth_hours' booth.id %}">Edit Hours</a> |
                    {% endif %}

                    {%  if perms.cookie_booths.booth_loc_deletes %}
                        <a href="{% url 'cookie_booths:delete_booth' booth.pk %}">Delete Booth</a>
                    {% endif %}
                </td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
