{% extends "cookie_booths/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Troops</h2>
{% endblock page_header %}


{% block content %}
<table id="troops" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
    	<tr>
        	<th>Troop ID</th>
			<th>Troop Coordinator</th>
            {% if perms.users.troop_updates or perms.users.troop_deletion %}
                <th>Actions</th>
            {% endif %}
		</tr>
	</thead>
	<tbody>
		{% for troop in troops %}
			<tr>
				<td>{{ troop.troop_number }}</td>
                <td>{{ troop.troop_cookie_coordinator }}</td>
				<td>
                    {% if perms.users.troop_updates %}
                        <a href="{% url 'users:edit_troop' troop.troop_number %}">Edit Troop</a> |
                    {% endif %}

                    {%  if perms.users.troop_deletion %}
                        <a href="{% url 'users:delete_troop' troop.pk %}">Delete Troop</a>
                    {% endif %}
                </td>
			</tr>
		{% endfor %}
        {% if perms.users.troop_creation %}
            <tr>
                {% if perms.users.troop_updates or perms.users.troop_deletion %}
                    <td colspan="4"><a href="{% url 'users:create_troop' %}">Add New Troop</a></td>
                {% else %}
                    <td colspan="3"><a href="{% url 'users:create_troop' %}">Add New Troop</a></td>
                {% endif %}
            </tr>
        {% endif %}
	</tbody>
</table>

{% endblock content %}
