{% extends "base.html" %}
{% load bootstrap4 %}


{% block page_header %}
    <h2>{{ page_title }}</h2>
{% endblock page_header %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    {% if perms.cookie_booths.block_reservation_admin and reserve_or_enable_booths == "reserve" %}
        <p><div>
            <select name="TroopNumbers" id="TroopNumbers">
                <option value="none" selected disabled hidden>Select a Troop</option>
                {% for troop in available_troops %}
                    <option value="{{ troop.troop_number }}">{{ troop }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    <table id="booth_blocks" class="table table-striped table-bordered display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {% for block in booth_blocks %}
                <tr>
                    <td>{{ block.booth_block_information.booth_day.booth.booth_location }}</td>
                    <td>{{ block.booth_block_information.booth_day.booth_day_date|date:"F jS, D" }}</td>
                    <td>{{ block.booth_block_information.booth_block_start_time|date:"h:i A" }}</td>
                    <td>{{ block.booth_block_information.booth_block_end_time|date:"h:i A" }}</td>
                    <td>
                        {% if reserve_or_enable_booths == "reserve" %}
                            {% if permission_level == "admin" %}
                                <!-- Admins/SUCMs have a greater degree of control -
                                - They can reserve/cancel any booth for any troop
                                - They can flag booths for only cookie captains to reserve -->
                                <!-- There are four cases that we need to handle: -->
                                <!-- 1. If a block is not reserved or flagged for cookie captains, we can either reserve or flag -->
                                {% if block.booth_block_information.booth_block_reserved is False and block.booth_block_information.booth_block_held_for_cookie_captains is False %}
                                    <input type="button" id="ReserveBooth" value="Reserve Booth"
                                        onclick="ReserveBooth({{ block.booth_block_information.id }},
                                            '{{ block.booth_block_information.booth_day.booth.booth_requires_masks }}',
                                            false)">
                                    <input type="button" id="HoldForCC" value="Hold for Cookie Captains"
                                        onclick="HoldBoothForCookieCaptains({{ block.booth_block_information.id }})">
                                <!-- 2. If a block is reserved but not flagged for cookie captains, we can only cancel -->
                                {% elif block.booth_block_information.booth_block_reserved is True and block.booth_block_information.booth_block_held_for_cookie_captains is False %}
                                    Reserved by {{ block.booth_block_information.booth_block_current_troop_owner }}
                                    <p></p>
                                    <input type="button" id="CancelBooth" value="Cancel Booth"
                                        onclick="CancelBooth({{ block.booth_block_information.id }},
                                            false)">
                                <!-- 3. If a block is not reserved but flagged for cookie captains, we can only unflag -->
                                {% elif block.booth_block_information.booth_block_reserved is False and block.booth_block_information.booth_block_held_for_cookie_captains is True %}
                                    <input type="button" id="UnholdForCC" value="Cancel Hold for Cookie Captains"
                                        onclick="UnholdBoothForCookieCaptains({{ block.booth_block_information.id }})">
                                <!-- 4. If a block is reserved and flagged, we can unreserve or unflag (which will also result in unreserving the daisy troop) -->
                                {% else %}
                                    Reserved by {{ block.booth_block_information.booth_block_current_troop_owner }}
                                    <p></p>
                                    <input type="button" id="CancelBooth" value="Cancel Booth"
                                        onclick="CancelBooth({{ block.booth_block_information.id }},
                                            false)">
                                    <input type="button" id="UnholdForCC" value="Cancel Booth And Cancel Hold for Cookie Captains"
                                        onclick="UnholdBoothForCookieCaptains({{ block.booth_block_information.id }})">
                                {% endif %}
                            {% elif permission_level == "daisy" %}
                                <!-- For Daisy scouts, they can reserve or cancel booths that are reserved 
                                     by Cookie Captains. For the list provided to this HTML, all booths in
                                     the list should be owned by Cookie Captains, so the main piece we have
                                     to do here is see whether another daisy troop owns this booth -->
                                {% if block.booth_block_information.booth_block_daisy_reserved is False %}
                                    <input type="button" id="ReserveBooth" value="Reserve Booth"
                                        onclick="ReserveBooth({{ block.booth_block_information.id }},
                                            '{{ block.booth_block_information.booth_day.booth.booth_requires_masks }}',
                                            true)">
                                {% elif block.booth_owned_by_current_user is True %}
                                    <input type="button" id="CancelBooth" value="Cancel Booth"
                                        onclick="CancelBooth({{ block.booth_block_information.id }},
                                            true)">
                                {% else %}
                                    Reserved by {{ block.booth_block_information.booth_block_daisy_troop_owner }}
                                {% endif %}
                            {% elif permission_level == "tcc" %}
                                <!-- For TCCs, they can reserve or cancel booths for their troop only -->
                                {% if block.booth_block_information.booth_block_reserved is False %}
                                    <input type="button" id="ReserveBooth" value="Reserve Booth"
                                        onclick="ReserveBooth({{ block.booth_block_information.id }},
                                            '{{ block.booth_block_information.booth_day.booth.booth_requires_masks }}',
                                            false)">
                                {% elif  block.booth_owned_by_current_user is True %}
                                    <input type="button" id="CancelBooth" value="Cancel Booth"
                                        onclick="CancelBooth({{ block.booth_block_information.id }},
                                            false)">
                                {% else %}
                                    Reserved by {{ block.booth_block_information.booth_block_current_troop_owner }}
                                {% endif %}
                            {% endif %}
                        {% elif reserve_or_enable_booths == "enable" %}
                            {% if block.booth_block_information.booth_block_enabled %}
                                <input type="button" id="DisableBooth" value="Disable Booth"
                                            onclick="DisableBooth({{ block.booth_block_information.id }})">
                            {% else %}
                                <input type="button" id="EnableBooth" value="Enable Booth"
                                            onclick="EnableBooth({{ block.booth_block_information.id }})">
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#booth_blocks').DataTable( {

            //stateSave: true,
            dom: 'lBfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            "lengthMenu": [[50, 100, 500, -1], [50, 100, 500, "All"]],
            "pageLength":   50,
        } );
    } );
    </script>

    <script>
        function ReserveBooth(booth_id, booth_requires_mask, daisy_troop) {
            if('{{ perms.cookie_booths.block_reservation_admin }}'==='True') {
                FinishBoothReservation(booth_id, daisy_troop)
            } else if(booth_requires_mask==='True') {
                if(confirm("This booth requires you to wear a mask, do you want to reserve it?")) {
                    FinishBoothReservation(booth_id, daisy_troop)
                }
            } else {
                FinishBoothReservation(booth_id, daisy_troop)
            }
        }

        function FinishBoothReservation(booth_id, daisy_troop) {
            if(daisy_troop) {
                FinishBoothDaisyReservation(booth_id)
            } else {
                FinishBoothNormalReservation(booth_id)
            }
        }

        function FinishBoothNormalReservation(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/reservations/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        troop_number: $('#TroopNumbers').val()
                    },
                    success: function (jsonData) {
                        let from_response = JSON.parse(jsonData);
                        let is_success = from_response.is_success;
                        let message = from_response.message;
                        if (is_success === true) {
                            if (confirm(message)) {
                                window.location.reload()
                            }
                            // Make sure cancelling also prompts a refresh
                            else {
                                window.location.reload()
                            }
                        } else {
                            alert(message)
                        }
                    }
                });
        }

        function FinishBoothDaisyReservation(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/reservations/daisy/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        troop_number: $('#TroopNumbers').val()
                    },
                    success: function (jsonData) {
                        let from_response = JSON.parse(jsonData);
                        let is_success = from_response.is_success;
                        let message = from_response.message;
                        if (is_success === true) {
                            if (confirm(message)) {
                                window.location.reload()
                            }
                            // Make sure cancelling also prompts a refresh
                            else {
                                window.location.reload()
                            }
                        } else {
                            alert(message)
                        }
                    }
                });
        }

        function CancelBooth(booth_id, daisy_troop) {
            if (daisy_troop) {
                CancelDaisyBooth(booth_id)
            } else {
                CancelNormalBooth(booth_id)
            }
        }

        function CancelNormalBooth(booth_id) {
            if(confirm("Do you want to cancel your reservation for this booth?")) {
                $.ajax({
                    url: location.origin + "/booths/blocks/reservations/cancel/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        troop_number: $('#TroopNumbers').val()
                    },
                    success: function (jsonData) {
                        let from_response = JSON.parse(jsonData);
                        let is_success = from_response.is_success;
                        let message = from_response.message;
                        if (is_success === true) {
                            if (confirm(message)) {
                                window.location.reload()
                            }
                            // Make sure cancelling also prompts a refresh
                            else {
                                window.location.reload()
                            }
                        } else {
                            alert(message)
                        }


                    }
                });
            }

        }

        function CancelNormalBooth(booth_id, daisy_troop) {
            if(confirm("Do you want to cancel your reservation for this booth?")) {
                $.ajax({
                    url: location.origin + "/booths/blocks/reservations/daisy/cancel/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        troop_number: $('#TroopNumbers').val()
                    },
                    success: function (jsonData) {
                        let from_response = JSON.parse(jsonData);
                        let is_success = from_response.is_success;
                        let message = from_response.message;
                        if (is_success === true) {
                            if (confirm(message)) {
                                window.location.reload()
                            }
                            // Make sure cancelling also prompts a refresh
                            else {
                                window.location.reload()
                            }
                        } else {
                            alert(message)
                        }


                    }
                });
            }

        function HoldBoothForCookieCaptains(booth_id) {
            $.ajax({
                url: location.origin + "/booths/blocks/cchold/" + booth_id,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (jsonData) {
                    let from_response = JSON.parse(jsonData);
                    let is_success = from_response.is_success;
                    let message = from_response.message;
                    if (is_success === true) {
                        if (confirm(message)) {
                            window.location.reload()
                        }
                        // Make sure cancelling also prompts a refresh
                        else {
                            window.location.reload()
                        }
                    } else {
                        alert(message)
                    }
                }
            });
        }

        function UnholdBoothForCookieCaptains(booth_id) {
            $.ajax({
                url: location.origin + "/booths/blocks/cchold/cancel/" + booth_id,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (jsonData) {
                    let from_response = JSON.parse(jsonData);
                    let is_success = from_response.is_success;
                    let message = from_response.message;
                    if (is_success === true) {
                        if (confirm(message)) {
                            window.location.reload()
                        }
                        // Make sure cancelling also prompts a refresh
                        else {
                            window.location.reload()
                        }
                    } else {
                        alert(message)
                    }
                }
            });
        }

        function EnableBooth(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/enable_blocks/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (is_success){
                        if (is_success === 'True') {
                            window.location.reload()
                        }
                    }
            });
        }

        function DisableBooth(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/disable_blocks/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (is_success){
                        if (is_success === 'True') {
                            window.location.reload()
                        }
                    }
            });
        }
    </script>


{% endblock content %}