{% extends "cookie_booths/base.html" %}
{% load bootstrap4 %}


{% block page_header %}
    <h2>{{ page_title }}</h2>
{% endblock page_header %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    {% if perms.cookie_booths.reserve_block_admin and reserve_or_enable_booths == "reserve" %}
        <p><div>
            <select name="TroopNumbers" id="TroopNumbers">
                <option value="none" selected disabled hidden>Select a Troop</option>
                {% for troop in available_troops %}
                    <option value="{{ troop.troop_number }}">{{ troop }}</option>
                {% endfor %}
            </select>
        </div></p>
    {% endif %}

    <table id="booth_blocks" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {% for block in booth_blocks %}
                <tr>
                    <td>{{ block.booth_block_information.booth_day.booth.booth_location }}</td>
                    <td>{{ block.booth_block_information.booth_day.booth.booth_address }}</td>
                    <td>{{ block.booth_block_information.booth_day.booth_day_date }}</td>
                    <td>{{ block.booth_block_information.booth_block_start_time|date:"h:i A" }}</td>
                    <td>{{ block.booth_block_information.booth_block_end_time|date:"h:i A" }}</td>
                    <td>
                        {% if reserve_or_enable_booths == "reserve" %}
                            {% if block.booth_block_information.booth_block_reserved is False %}
                                {% if perms.cookie_booths.reserve_block or perms.cookie_booths.reserve_block_admin %}
                                    <input type="button" id="ReserveBooth" value="Reserve Booth"
                                           onclick="ReserveBooth({{ block.booth_block_information.id }},
                                                '{{ block.booth_block_information.booth_day.booth.booth_requires_masks }}')">
                                {% endif %}

                            {% else %}
                                {% if perms.cookie_booths.cancel_block_admin %}
                                    Reserved by {{ block.booth_block_information.booth_block_current_troop_owner }}
                                    <p></p>
                                    <input type="button" id="CancelBooth" value="Cancel Booth"
                                            onclick="CancelBooth({{ block.booth_block_information.id }})">
                                {% elif  block.booth_owned_by_current_user is True %}
                                    <input type="button" id="CancelBooth" value="Cancel Booth"
                                            onclick="CancelBooth({{ block.booth_block_information.id }})">
                                {% else %}
                                    Reserved by {{ block.booth_block_information.booth_block_current_troop_owner }}
                                {% endif %}
                            {% endif %}

                        {% elif reserve_or_enable_booths == "enable" %}
                            {% if block.booth_block_information.booth_block_enabled %}
                                <input type="button" id="DisableBooth" value="Disable Booth"
                                            onclick="DisableBooth({{ block.booth_block_information.id }})">
                            {% else %}
                                <input type="button" id="EnableBooth" value="Enable Booth"
                                            onclick="EnableBooth({{ block.booth_block_information.id }})">
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#booth_blocks').DataTable( {
    	    "paging":   false,
        } );
    } );
    </script>

    <script>
        function ReserveBooth(booth_id, booth_requires_mask) {
            if('{{ perms.cookie_booths.reserve_block_admin }}'==='True') {
                FinishBoothReservation(booth_id)
            } else if(booth_requires_mask==='True') {
                if(confirm("This booth requires you to wear a mask, do you want to reserve it?")) {
                    FinishBoothReservation(booth_id)
                }
            } else {
                FinishBoothReservation(booth_id)
            }
        }

        function FinishBoothReservation(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/reservations/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        troop_number: $('#TroopNumbers').val()
                    },
                    success: function (jsonData) {
                        let from_response = JSON.parse(jsonData);
                        let is_success = from_response.is_success;
                        let message = from_response.message;
                        if (is_success === true) {
                            if (confirm(message)) {
                                window.location.reload()
                            }
                            // Make sure cancelling also prompts a refresh
                            else {
                                window.location.reload()
                            }
                        } else {
                            alert(message)
                        }
                    }
                });
        }

        function CancelBooth(booth_id) {
            if(confirm("Do you want to cancel your reservation for this booth?")) {
                $.ajax({
                    url: location.origin + "/booths/blocks/reservations/cancel/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        troop_number: $('#TroopNumbers').val()
                    },
                    success: function (jsonData) {
                        let from_response = JSON.parse(jsonData);
                        let is_success = from_response.is_success;
                        let message = from_response.message;
                        if (is_success === true) {
                            if (confirm(message)) {
                                window.location.reload()
                            }
                            // Make sure cancelling also prompts a refresh
                            else {
                                window.location.reload()
                            }
                        } else {
                            alert(message)
                        }


                    }
                });
            }

        }

        function EnableBooth(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/enable_blocks/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (is_success){
                        if (is_success === 'True') {
                            window.location.reload()
                        }
                    }
            });
        }

                function DisableBooth(booth_id) {
            $.ajax({
                    url: location.origin + "/booths/blocks/disable_blocks/" + booth_id,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (is_success){
                        if (is_success === 'True') {
                            window.location.reload()
                        }
                    }
            });
        }
    </script>


{% endblock content %}