{% extends "base.html" %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}
    Booth Editor
{% endblock title %}

{% block page_header %}
  <h2>Edit cookie booth hours</h2>
{% endblock page_header %}

{% block content %}
  <form action="{% url 'cookie_booths:edit_booth_hours' booth.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    {{ form.media }}
    {% buttons %}
    <button name="submit">Update Booth Hours</button>
    {% endbuttons %}
  </form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("input[id*='day_open']").click(function () {
            var checkbox_selected = $(this);
            var checkbox_day_of_week = this.id.split('_')[1];

            $("input[class='form-control']").each(function(item) {
              var control_day_of_week = this.name.split('_')[0];
              var same_day = checkbox_day_of_week === control_day_of_week;

              if (same_day) {
                if (checkbox_selected.is(":checked"))  {
                  $(this).removeAttr("disabled");
                } else {
                  $(this).attr("disabled", "disabled");
                }
              }
            });
        });
    });
</script>
<script type="text/javascript">
        $(document).ready(function () {
          $("input[id*='day_open']").each(function(item) {
            var checkbox_selected = $(this);
            var checkbox_day_of_week = this.id.split('_')[1];

              $("input[class='form-control']").each(function(item) {
                var control_day_of_week = this.name.split('_')[0];
                var same_day = checkbox_day_of_week === control_day_of_week;

                if (same_day) {
                  if (checkbox_selected.is(":checked"))  {
                    $(this).removeAttr("disabled");
                  } else {
                    $(this).attr("disabled", "disabled");
                  }
                }
              });
          });
        });
</script>
{% endblock content %}